<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Заказ</h1>
            <p>Некий текст - {{= orderId }}</p>
        </div>
    </div>
</div>

</body>
</html>